.col-1, .col-2, .col-3 {
  float: left;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-bottom: .5em;
  }

  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }

  .date {
    font-size: .8em;
    margin-bottom: 2em;
    color: $light;
  }

  p {
    margin: 0 0 .75em 0;
  }
}

  .about {
    padding: 0 7.5% 0 0;
    a {
      color: $highlight;
      font-weight: 700;
      text-decoration: none;
    }
  }

// ---------- BANNER ------------

.banner {
  display: flex;
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  // background-image: url('images/laptop_desk_white.jpg')
  // background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
}

.banner-content {
  /*display: flex;*/
  text-align: center;
}

// .btn-green {
//   color: white;
//   padding: 25px 35px;
//   border-radius: 4px;
//   font-weight: bold;
//   font-size: 20px;
//   background: #6AD58B;
//   transition: background 0.3s ease;
// }
// .btn-green:hover {
//   background: #3ac162;
//   text-decoration: none;
//   color: white;
// }

// .btn-yours {
//   text-decoration: none;
//   background-color: $highlight;
//   border-radius: 5px;
//   color: white;
//   padding: 25px 35px;
//   font-weight: bold;
//   text-align: center;
//   margin: 10px auto;
//   display: block;
//   font-size: 20px;
//   width: 130px;
// }

// .btn-yours:hover {
//   background-color: #3ac162;
//   text-decoration: none;
// }
