 <footer id="main_footer">
      <p class="copyright">&copy  Nayela Wickramasuriya 2018</p>
      <nav>
        <a href="https://twitter.com/nayelawick" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/naywick" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nayela-wickramasuriya/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </nav>
    </footer>
